html,
body {
  font-family: "Lato";
  font-size: 2.5vh;
  height: 100%;
  margin: 0;
  background-color: #282434;
}

.navbar-container {
  /* border: solid red 2px; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  height: 5vh;
}

.navbar-container > div {
  display: flex;
  align-items: center;
}

#style-checkbox {
  display: none;
}

.style-switch-container {
  /* border: solid lime 2px; */

  display: flex;
  align-items: center;
}

.style-slider {
  /* border: solid pink 2px; */
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  background-color: #39375b;
  width: 2.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
}

.style-slider::before {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  position: absolute;
  content: "";
  background-color: #f1efed;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  transition: 0.2s ease-in-out;
}

input:checked + .style-slider {
  background-color: #fe9000;
}

input:checked + .style-slider::before {
  transform: translateX(1rem);
}

a.navbar-button {
  /* border: solid green 2px; */
  color: #f1efed;
  text-decoration: none;
  padding: 0 0.5rem;
}

a.navbar-button-graphic {
  /* border: dashed green 2px; */
  padding: 0 0.5rem;
}

a.navbar-button:hover {
  color: #fe9000;
  text-decoration: underline;
}

.service-header {
  /* border: solid orange 2px; */
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.service-header > h1 {
  /* border: solid yellow 2px; */
  color: #f1efed;
  margin: 0;
}

.service-header > p {
  /* border: solid yellowgreen 2px; */
  color: #f1efed;
  margin: 0 20rem 0 0;
}

.kav-container {
  /* border: solid darkcyan 2px; */
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background-color: #39375b;
  display: flex;
  justify-content: space-between;
  margin: 1rem 10vw 0rem 1rem;
  padding: 0 1rem;
}

.kav-container > p {
  /* border: solid lime 2px; */
  margin: 1rem;
  color: #f1efed;
  align-self: center;
}

.kav-container > img {
  /* border: solid green 2px; */
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  align-self: center;
  width: 10vw;
}

.kav-container > p > a {
  color: #fe9000;
}

.gif-container {
  /* border: solid cyan 2px; */
  display: flex;
  justify-content: space-between;
  margin: 0 10vw 1rem 1rem;
}

.gif-container > p {
  /* border: solid lime 2px; */
  margin: 1rem;
  color: #f1efed;
  align-self: center;
}

.gif-container > img {
  /* border: solid green 2px; */
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  align-self: center;
  height: 40vh;
}
