html,
body {
  font-family: "Lato";
  font-size: 2.5vh;
  height: 100%;
  margin: 0;
  background-color: #282434;
}

.navbar-container {
  /* border: solid red 2px; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  height: 5vh;
}

.navbar-container > div {
  display: flex;
  align-items: center;
}

#style-checkbox {
  display: none;
}

.style-switch-container {
  /* border: solid lime 2px; */

  display: flex;
  align-items: center;
}

.style-slider {
  /* border: solid pink 2px; */
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  background-color: #39375b;
  width: 2.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
}

.style-slider::before {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  position: absolute;
  content: "";
  background-color: #f1efed;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  transition: 0.2s ease-in-out;
}

input:checked + .style-slider {
  background-color: #fe9000;
}

input:checked + .style-slider::before {
  transform: translateX(1rem);
}

a.navbar-button {
  /* border: solid green 2px; */
  color: #f1efed;
  text-decoration: none;
  padding: 0 0.5rem;
}

a.navbar-button-graphic {
  /* border: dashed green 2px; */
  padding: 0 0.5rem;
}

a.navbar-button:hover {
  color: #fe9000;
  text-decoration: underline;
}

.landing-body-container {
  /* border: solid orange 2px; */
  display: flex;
  justify-content: space-between;
  height: 95vh;
  overflow: hidden;
}

.landing-body-container > div {
  /* border: dashed red 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.picture-container {
  /* border: solid yellow 2px; */
  position: relative;
}

.picture-bg {
  /* border: dashed darkorange 2px; */
  z-index: 1;
  height: 85vh;
}

.picture-graham {
  /* border: dashed darkgoldenrod 2px; */
  z-index: 2;
  position: absolute;
  height: 100vh;
  left: 10vw;
  top: 15vh;
}

.introduction-container {
  /* border: solid blue 2px; */
  margin-bottom: 4rem;
  margin-right: 30vw;
  margin: 5vh 30vw 4rem 0;
}

.introduction-container > h1 {
  /* border: dashed lightseagreen 2px; */
  position: absolute;
  top: 18vh;
  font-size: 5em;
  color: #f1efed;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
}

.introduction-container > h2 {
  /* border: dashed lightskyblue 2px; */
  font-size: 4.5em;
  margin: 0;
  color: #bfbcbf;
  font-weight: normal;
}

.information-container {
  /* border: solid blueviolet 2px; */
  display: flex;
  flex-direction: column;
  margin: 0 8rem;
}

.information-container > p {
  /* border: solid lime 2px; */
  color: #f1efed;
  font-size: 1.25em;
  margin: 0.5rem;
}

.information-container > a {
  /* border: solid lime 2px; */
  color: #fe9000;
  text-align: right;
}

.information-container > a > img {
  width: 1vw;
}

.portfolio-container {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  background-color: #39375b;
  margin: 8vh;
  padding: 0 0.5rem;
}

.portfolio-container > a > img {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  width: 5vw;
  margin: 0.5rem;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.portfolio-container > a > img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
