html,
body {
  font-family: "Lato";
  font-size: 2.5vh;
  height: 100%;
  margin: 0;
  background-color: #282434;
}

.navbar-container {
  /* border: solid red 2px; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  height: 5vh;
}

a.navbar-button {
  /* border: solid green 2px; */
  color: #f1efed;
  text-decoration: none;
  padding: 0 0.5rem;
}

a.navbar-button-graphic {
  /* border: dashed green 2px; */
  padding: 0 0.5rem;
}

a.navbar-button:hover {
  color: #fe9000;
  text-decoration: underline;
}

.landing-body-container {
  /* border: solid orange 2px; */
  display: flex;
  justify-content: space-between;
  height: 95vh;
  overflow: hidden;
}

.picture-container {
  /* border: solid yellow 2px; */
  position: relative;
}

.picture-bg {
  /* border: dashed darkorange 2px; */
  z-index: 1;
  height: 85vh;
}

.picture-graham {
  /* border: dashed darkgoldenrod 2px; */
  z-index: 2;
  position: absolute;
  height: 100vh;
  left: 10vw;
  top: 15vh;
}

.introduction-container {
  /* border: solid blue 2px; */
  position: relative;
  padding: 2rem 4rem;
  margin-bottom: 4rem;
}

.introduction-container > h1 {
  /* border: dashed lightseagreen 2px; */
  position: absolute;
  top: 6rem;
  margin: 0;
  font-size: 5em;
  color: #f1efed;
  font-weight: bolder;
}

.introduction-container > h2 {
  /* border: dashed lightskyblue 2px; */
  font-size: 4.5em;
  margin: 0;
  color: #bfbcbf;
  font-weight: normal;
}

.information-container {
  /* border: solid blueviolet 2px; */
  display: flex;
  flex-direction: column;
  margin: 0 10rem;
}

.information-container > p {
  /* border: solid lime 2px; */
  color: #f1efed;
  font-size: 1.25em;
  line-height: 1.5em;
}

.information-container > a {
  /* border: solid lime 2px; */
  color: #fe9000;
  text-align: right;
}

.information-container > a > img {
  width: 1vw;
}
