html,
body {
  font-family: "Lato";
  font-size: 24px;
  height: 100%;
  margin: 0;
  background-color: #282434;
}

.navbar-container {
  border: solid red 2px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  height: 5vh;
}

a.navbar-button {
  border: solid green 2px;
  color: #f1efed;
  text-decoration: none;
  padding: 0 0.5rem;
}

a.navbar-button-graphic {
  border: dashed green 2px;
  padding: 0 0.5rem;
}

a.navbar-button:hover {
  color: #fe9000;
  text-decoration: underline;
}

.landing-body {
  border: solid orange 2px;
  display: flex;
  justify-content: space-between;
  height: 95vh;
  overflow: hidden;
}

.portfolio-picture {
  border: solid yellow 2px;
  position: relative;
}

.portfolio-picture-bg {
  border: dashed darkorange 2px;
  z-index: 1;
  width: 30vw;
}

.portfolio-picture-graham {
  border: dashed darkgoldenrod 2px;
  z-index: 2;
  position: absolute;
  width: 25vw;
  left: 10vw;
  top: 15vh;
}
