a.navbar-button {
  color: #f1efed;
  text-decoration: none;
  /* border: solid green 2px; */
  padding: 0 16px;
}
a.navbar-button:hover {
  color: #fe9000;
  text-decoration: underline;
}

.navbar-container {
  /* border: solid red 2px; */
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
